<div id="container">
  <ion-card>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <p>GeForce RTX 3090 ti</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <br>
</div>
