.contenedor_resultado{

    display: flex;
    align-items: center;
    justify-content: center;
    .texto_componente{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        .contenedor_img{
            width: 100px;
            height: 100%;
            right: 0px;
            img{
                background-color: grey;
                width: 100%;
                height: 100%;
            }
        }

    }
}

