<div id="container">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col class="contenedor_SFT" size="4" *ngFor="let software of SoftwareSel" >
          <p>{{software.Name}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>CPU</h3>                  
                  <p>{{CPUReq}}</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>GPU</h3>                  
                  <p>{{GPUReq}}</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>Unidad de Almacenamiento</h3>                  
                  <p>{{StorageReq}}</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>RAM</h3>                  
                  <p>{{RAMReq}}</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>Placa Madre</h3>                  
                  <p>Placa Madre...</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>Torre</h3>                  
                  <p>Torre</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_resultado">
              <div class="texto_componente">
                <ion-col>
                  <h3>PSU</h3>                  
                  <p>Fuente de Alimentación</p>
                </ion-col>
                <div class="contenedor_img">
                  <a href="https://www.amazon.com/ref=nav_logo">
                    <img src="../../../assets/icon/Amazon-logo.png" alt="">
                  </a>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <img src="../../../assets/icon/componapps_icon.png" alt="">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <br>
</div>
