<div id="container">
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>CPU</ion-card-subtitle>
        <ion-card-title>Procesador</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>GPU</ion-card-subtitle>
        <ion-card-title>Grafica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>RAM</ion-card-subtitle>
        <ion-card-title>Memoria RAM</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>PSU</ion-card-subtitle>
        <ion-card-title>Fuente de poder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>SSD</ion-card-subtitle>
        <ion-card-title>Unidad de estado solido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>MB</ion-card-subtitle>
        <ion-card-title>Tarjeta madre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>Case</ion-card-subtitle>
        <ion-card-title>Torre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        <br>
        <br>
        <br>
        <br>

      </ion-card-content>
    </ion-card>
</div>
