<div id="container">
    <ion-card>
      <div class="contenedor_img">
        <img src="https://pngimg.com/uploads/cpu/cpu_PNG23.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>CPU</ion-card-subtitle>
        <ion-card-title>Procesador</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        La Unidad Central de Procesamiento, más conocida como CPU por sus siglas en inglés, es la mente de todo el computador, se encarga de analizar cada dato y dar las órdenes a los demás componentes para que realicen las tareas que les corresponde.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/vga_body.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>GPU</ion-card-subtitle>
        <ion-card-title>Tarjeta Gráfica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        La Unidad de Procesamiento Gráfico, más conocida como GPU por sus siglas en inglés, es el pincel con el que la CPU colorea la pantalla para comunicarse con nosotros, se encarga de interpretar la información que recibe de la CPU para mostrarlo en pantalla.
        Algunas CPU traen GPU en su interior, por lo que puede que no necesiten una GPU adicional, esto depende de la exigencia gráfica que se le vaya a dar al computador.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="https://www.mantis.es/skin/frontend/mantis/default/images/componentes/ssd/samsung-950pro-m2-nvme.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>HDD - SSD - M.2</ion-card-subtitle>
        <ion-card-title>Unidad de Almacenamiento</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        La unidad de almacenamiento o anteriormente llamado "Disco duro" es como la biblioteca donde se guarda toda la información del computador y con la cual el procesador va a trabajar, la capacidad de almacenamiento se mide en Gigabytes (Miles de Millones de bytes) y existen diferentes formatos de "Disco duro".<br>
        HDD - Unidad de Disco Rígido (HDD siglas en inglés), está compuesto por discos rígidos en los que se almacena la información y se conserva aunque el computador esté apagado.<br>
        SSD - Unidad de Estado Sólido (SSD siglas en inglés), está compuesto por compuertas lógicas electricas en las que se almacena la información según su estado (abiertas o cerradas).<br>
        SSD M.2 - M.2 es un formato de SSD más pequeño que se comunica más rápido con el procesador.<br>
        Las diferencias principales entre el HDD y el SSD son la velocidad, consumo y el espacio dentro del computador, porque los discos del HDD deben girar a grandes velocidades mediante un motor para lograr almacenar o rescatar información, mientras los SSD necesitan señales eléctricas que son indiscutiblemente más rápidas y requieren menos espacio que la vuelta de un disco.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="https://www.corsair.com/medias/sys_master/images/images/h7a/h49/8988098330654/-CMK8GX4M1D3000C16-Gallery-VENG-LPX-BLK-01.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>RAM</ion-card-subtitle>
        <ion-card-title>Memoria RAM</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Memoria de acceso aleatorio, RAM por sus siglas en inglés, es la bibliotecaria que se encarga de pasarle al lector el libro que necesita, en este caso al procesador.<br>
        Es de menor capacidad de almacenamiento que la unidad principal pero es más rápida para pasarle información al procesador, por lo que sin esta, el procesador no podría procesar lo suficientemente rápido para mostrarnos la información, "Se quedaría leyendo todos los libros de la biblioteca hasta encontrar la palabra que estaba buscando".
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>PSU</ion-card-subtitle>
        <ion-card-title>Fuente de poder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>MB</ion-card-subtitle>
        <ion-card-title>Tarjeta madre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="contenedor_img">
        <img src="../../../assets/icon/componapps_icon.png" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>Case</ion-card-subtitle>
        <ion-card-title>Torre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
        <br>
        <br>
        <br>
        <br>

      </ion-card-content>
    </ion-card>
</div>
