<div id="container">
  <ion-card>
    <ion-card-content>
      Componapps es una plataforma web la cual te permitira escoger entre diferentes software que utilices en el
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Software seleccionado</ion-card-title>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <div class="contenedor_img">
            <img class="item_select_1" src="../../../assets/icon/componapps_icon.png" alt="">
          </div>
        </ion-col>
        <ion-col>
          <div class="contenedor_img">
            <img class="item_select_2"src="../../../assets/icon/componapps_icon.png" alt="">
          </div>
        </ion-col>
        <ion-col>
          <div class="contenedor_img">
            <img class="item_select_3" src="../../../assets/icon/componapps_icon.png" alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <ion-card-title>Software</ion-card-title>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <div>
                <div class="contenedor_img">
                  <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                </div>
                <p>Nombre Software</p>
              </div>
              <!-- <div>
                <div class="contenedor_img">
                  <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                </div>
                <p>Nombre Software</p>
              </div>
              <div>
                <div class="contenedor_img">
                  <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                </div>
                <p>Nombre Software</p>
              </div> -->
              
            </ion-col>
            <ion-col>
              <div>
                <div class="contenedor_img">
                  <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                </div>
                <p>Nombre Software</p>
              </div>
              <!-- <div>
                <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                <p>Nombre Software</p>
              </div>
              <div>
                <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                <p>Nombre Software</p>
              </div> -->
            </ion-col>
            <ion-col>
              <div>
                <div class="contenedor_img">
                  <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                </div>
                <p>Nombre Software</p>
              </div>
              <!-- <div>
                <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                <p>Nombre Software</p>
              </div>
              <div>
                <img class="item_select" src="../../../assets/icon/componapps_icon.png" alt=""><br>
                <p>Nombre Software</p> -->
              <!-- </div> -->
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
  <ion-item *ngFor="let item of items">
    <ion-label>
      <h1>{{item.COMIDA.Sushi}}</h1>
      <img src={{item.IMG}} alt="">
    </ion-label>
  </ion-item>
  <ion-button (click)="goToResultado()">Buscar PC</ion-button>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
