<div id="container">
  <ion-card>
    <ion-card-content>
      Componapps es una plataforma web la cual te permitira escoger entre diferentes software que utilices en el
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Software seleccionado</ion-card-title>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <div class="contenedor_img">
            <img class="item_select_1" src="../../../assets/icon/componapps_icon.png" alt="">
          </div>
        </ion-col>
        <ion-col>
          <div class="contenedor_img">
            <img class="item_select_2"src="../../../assets/icon/componapps_icon.png" alt="">
          </div>
        </ion-col>
        <ion-col>
          <div class="contenedor_img">
            <img class="item_select_3" src="../../../assets/icon/componapps_icon.png" alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <ion-card-title>Software</ion-card-title>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content>
        <ion-card-content>
          <ion-row>
            <ion-col class="contenedor_SFT"  size="4" *ngFor="let software of software">
              <div >
                <div class="contenedor_img">
                  <img class="item_select" src={{software.IMG}} alt=""><br>
                </div>
                <p>{{software.Name}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>

  <ion-button (click)="goToResultado()">Buscar PC</ion-button>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
